@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .logo .cls-1{
        fill: #ffffff;
    }
}

@media screen and (max-width: 1024px){ 
    img#drop{
        width: 500%!important;
        opacity: 0;
        z-index: -99;
    }

    div.home-context{
        width: 95%;
    }

    div.home-context span#home-title{
        font-size: calc(22px * 1.5)!important;
    }
    
    div.home-context span#home-context{
        font-size: calc(16px * 1.5)!important;
    }

    span.gridone-button{
        font-size: calc(16px * 1.5)!important;
    }

    #footer-section p{
        font-size: calc(18px * 1.25)!important;
    }
}

/**************** Basic Settings ****************/

:root[color-theme='light'] {
    --bg-color: #fff;
    --font-color: #000;
    --bg-1: rgba(0,0,0,0.1);
    --bg-2: rgba(0,0,0,0.2);
    --bg-3: rgba(0,0,0,0.3);
    --bg-4: rgba(0,0,0,0.4);
    --bg-5: rgba(0,0,0,0.5);
    --bg-6: rgba(0,0,0,0.6);
    --bg-7: rgba(0,0,0,0.7);
    --bg-8: rgba(0,0,0,0.8);
    --bg-9: rgba(0,0,0,0.9);
    --bg-10: rgba(0,0,0,1);
    --bg-rev-1: rgba(255,255,255,0.1);
    --bg-rev-2: rgba(255,255,255,0.2);
    --bg-rev-3: rgba(255,255,255,0.3);
    --bg-rev-4: rgba(255,255,255,0.4);
    --bg-rev-5: rgba(255,255,255,0.5);
    --bg-rev-6: rgba(255,255,255,0.6);
    --bg-rev-7: rgba(255,255,255,0.7);
    --bg-rev-8: rgba(255,255,255,0.8);
    --bg-rev-9: rgba(255,255,255,0.9);
    --bg-rev-10: rgba(255,255,255,1);
}

:root[color-theme='dark'] {
    --bg-color: #000;
    --font-color: #fff;
    --bg-1: rgba(255,255,255,0.1);
    --bg-2: rgba(255,255,255,0.2);
    --bg-3: rgba(255,255,255,0.3);
    --bg-4: rgba(255,255,255,0.4);
    --bg-5: rgba(255,255,255,0.5);
    --bg-6: rgba(255,255,255,0.6);
    --bg-7: rgba(255,255,255,0.7);
    --bg-8: rgba(255,255,255,0.8);
    --bg-9: rgba(255,255,255,0.9);
    --bg-10: rgba(255,255,255,1);
    --bg-rev-1: rgba(0,0,0,0.1);
    --bg-rev-2: rgba(0,0,0,0.2);
    --bg-rev-3: rgba(0,0,0,0.3);
    --bg-rev-4: rgba(0,0,0,0.4);
    --bg-rev-5: rgba(0,0,0,0.5);
    --bg-rev-6: rgba(0,0,0,0.6);
    --bg-rev-7: rgba(0,0,0,0.7);
    --bg-rev-8: rgba(0,0,0,0.8);
    --bg-rev-9: rgba(0,0,0,0.9);
    --bg-rev-10: rgba(0,0,0,1);
}

* {
    text-decoration: none;
    border-collapse: collapse;
    list-style-type: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
    color: #fff;
    scroll-behavior:smooth;
    word-break: keep-all;
}

*::selection{
    background: rgba(255,153,0,0.7);
    color: #ffffff;
}

html, body {
    width: 100%;
    height: 100%;
}

body *{
    transition: .2s all ease-in;
}

div[class *= "col"]{
    padding: 0;
}

div.row{
    padding-left: 20px;
    padding-right: 20px;
}

span.gridone-button.white{
    padding: 9px 18px;
    border: 1px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

span.gridone-button.white:hover{
    background-color: #ffffff;
    color: #000000;
}

span.gridone-button.light{
    padding: 9px 18px;
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    border-radius: 4px;
    cursor: pointer;
}

span.gridone-button.light:hover{
    background-color: var(--bg-color);
    color: var(--font-color);
}

span.gridone-button.dark{
    padding: 9px 18px;
    border: 1px solid var(--font-color);
    color: var(--font-color);
    border-radius: 4px;
    cursor: pointer;
}

span.gridone-button.dark:hover{
    background-color: var(--font-color);
    color: var(--bg-color);
}

img#go-down{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 50px;
    left: 50%;
    cursor: pointer;
    z-index: 99;
    animation: go-down 2s infinite;
    transform: translate(-50%, -50%);
}

@keyframes go-down {
    0% {
        opacity: 0;
    }

    50% {
        transform: translate(-50%, 0%);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.hide{
    display: none!important;
}

/**************** Back to Top ****************/

div.back-to-top {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 5%;
    right: 5%;
    z-index: 99;
}

div.back-to-top a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.back-to-top img {
    width: 60px;
    height: 100%;
}

div.back-to-top:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: 0.2s;
}

/**************** NAV CUSTOM ****************/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-detail{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    user-select: none;
}


.nav-logo img{
    height: 20px;
    width: auto;
}

.nav-menu{
    width: 100%;
}


.nav-icon{
    width: 24px;
    height: 24px;
}

.nav-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-right{
    display: flex;
}

.nav-center .nav-item {
    margin: 0 20px;
}

.nav-right .nav-item {
    margin: 0 5px;
}

.hamburger {
    display: none;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

@media only screen and (max-width: 1024px) {
    .nav-menu {
        position: fixed;
        left: 100%;
        top: 100px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.85);
        height: calc(100vh - 100px);
        text-align: center;
        transition: 0.3s;
        padding-right: 15%!important;
        padding-left: 15%!important;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-center{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .nav-right{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }

    .nav-item{
        font-size: 24px;
        font-weight: 700;
    }

    .nav-center .nav-item {
        margin: 50px 0px!important; 
    }

    .nav-right .nav-item {
        margin: 0 5px;
    }

    .nav-icon{
        width: 36px;
        height: 36px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }
}

/**************** Footer ****************/
footer.bg-dark{
    backdrop-filter: unset;
}

div#footer-section {
    background-color: #222;
}

div#footer-section .contents {
    display: flex;
    flex-wrap: nowrap;
}

div#footer-section .logo {
    width: 150px;
    height: auto;
}

div#footer-section p{
    margin: 0;
}

div#footer-section p.company-info{
    word-break: break-word;
}

div.footer-item{
    display: flex;
    flex-direction: column;
    align-self: center;
}

/**************** Grid Section ****************/
div.section-wrap{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    align-items: center;
}

/**************** Home Section ****************/
div#home-section{
    position: relative;
}

div#home-section::after{
    content: "";
    width: 100vw;
    height: 100vh;
    background-image: url("../img/page-grid.png");
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center;
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

div#home-section video{
    background: #491942;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    min-width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    transition: 0s all!important;
    z-index: -99;
}

div#home-section div.section-wrap{
    width: 100vw;
    height: 100vh;
    padding-top: 0px!important;
}

div#home-section div.home-context{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.home-context svg{
    margin-bottom: 38px;
}

div.home-context span#home-title{
    font-size: 22px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    margin-bottom: 38px;
}

div.home-context span#home-context{
    font-size: 16px;
    color: #c4c4c4;
    text-align: center;
    margin-bottom: 70px;
}

.logo{
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dasher 10s linear forwards;
    animation-delay: 1s;
}

.logo .cls-1{
    animation: filler 0.5s linear forwards;
    animation-delay: 3s;
}

@keyframes dasher {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes filler {
    to {
        fill: rgba(255,255,255,1);
    }
}

/**************** Home Section ****************/
div#aida-section{
    background-color: var(--bg-color);
}

div#aida-section div.section-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

div.aida-context{
    display: flex;
    flex-direction: column;
}

svg#aida-icon{
    width: auto;
    height: 65px;
    display: flex;
    align-self: flex-start;
    padding-left: 8px;
    margin-bottom: 50px;
    z-index: 3;
}

svg#aida-icon .cls-3{
    fill: var(--font-color);
}

div#aida-section svg#aida-icon{
    width: 200px;
    height: 65px;
    display: flex;
    align-self: flex-start;
    padding-left: 8px;
    margin-bottom: 50px;
}

span.aida-detail{
    color: var(--font-color);
    text-shadow:
    -1px -1px 20px var(--bg-rev-2),
    1px -1px 20px var(--bg-rev-2),
    -1px 1px 20px var(--bg-rev-2),
    1px 1px 20px var(--bg-rev-2);  
    font-size: 55px;
    line-height: 95px;
    letter-spacing: -2.65px;
    position: relative;
    margin-bottom: 85px;
    z-index: 3;
}

span.aida-detail b{
    color: var(--font-color);  
    font-size: 55px;
    line-height: 95px;
    letter-spacing: -2.65px;
    z-index: 3;
}

span.aida-detail b.hightlight.active::after {
    content: '';
    display: block;
    width: calc(85% + 8px);
    height: 15px;
    position: absolute;
    left: -3px;
    background: rgba(240, 131, 0, 0.5);
    margin-top: -30px;
    margin-left: 5px;
    z-index: -1;
    opacity: 0;
    animation: shine 1s forwards;
}

@keyframes shine {
    to {
        opacity: 1;
    }
}

div#aida-section div.col-4,
div#aida-section div.col-8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

div#aida-section div.col-4{
    align-items: center;
}

img#drop{
    position: absolute;
    width: 350%;
    height: auto;
    opacity: 0;
    z-index: 2;
    left: 0%;
    top: 45%;
    transform: translate(-50%, -50%);
}

@keyframes drop {
    to {
        opacity: 1;
        top: 50%;
    }
}